<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="RavenDBEnties" connectionString="Url=http://localhost:8080;Database=CrawlAndCollect.Enteties" />
    <add name="RavenDBLog" connectionString="Url=http://localhost:8080;Database=CrawlAndCollect.Log" />
  </connectionStrings>
</configuration>